@font-face {
	font-family: "Playfair Display";
	src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

.btn-danger {
	background-color: pink;
	border: pink;
	color: white;
}

.btn-danger:hover {
	background-color: rgb(252, 123, 145);
	border: rgb(252, 123, 145);
	color: white;
}

h1,
h2,
h3 {
	font-family: "Playfair Display";
	font-variation-settings: "wght" 600;
}

main img {
	object-fit: cover;
}
.frame {
	border: 5px solid pink;
	width: 370px;
	height: 450px;
	position: relative;
	left: 10%;
	bottom: 50%;
}

.position-absolute.z-3 {
	top: 40%;
	left: 30%;
}
